.mainSection {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 20px;
	background: linear-gradient(to bottom, #54585b, #100d0e);
	color: white;
}

.content {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}
.text {
	width: 70%;
	padding-left: 30px;
}
.imageBox {
	width: 30%;
}
.photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
	object-fit: cover;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
}
.photo:hover {
	transform: scale(1.0);
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}
.name {
	font-size: 4.1rem;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #e05d00;
	margin-bottom: 40px;
}

.subtitle {
	font-size: 1.8rem;
	color: #f1eceb;
	margin-bottom: 20px;
}

.description {
	color: #e6d9d4;
	font-size: 1rem;
	line-height: 1.5;
	font-style: italic;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.buttonPrimary {
	background-color: #e05d00;
	color: #e6d9d4;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition: background 0.3s ease;
}

.buttonPrimary:hover {
	background-color: #fa873a;
}

.buttonSecondary {
	border: 2px solid #e05d00;
	color: #e05d00;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	transition:
		background 0.3s ease,
		color 0.3s ease;
}

.buttonSecondary:hover {
	background-color: #ff985340;
	color: #fa873a;
}
