.header {
	display: flex;
	background-color: #393939;
	justify-content: space-between;
	align-items:  center;
	position: relative;
	padding: 5px 0;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 40px;

}

.logo:hover {
	transform: scale(1.05);
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
}

.logoLink {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.logoImage {
	width: auto;
	height: 50px;
	object-fit: contain;
}
.burgerMenu {
display: none;
}
.nav {
	display: flex;
}

.navList {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 5px 0;
	margin: 0;
}

.navLink {
	color: #f1eceb;
	text-decoration: none;
	font-size: 1rem;
	font-weight: lighter;
	transition: color 0.3s;
}

.navLink:hover {
	color: #ffcc00;
	transform: scale(1.05);
}
.navLink:active,
.navLink.active {
	color: #ffcc00;
	transform: scale(1.05);
}
.rightSection {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.menuContainer {
	display: flex;
	justify-content: flex-end;
	width: auto;
	align-items: center;
	text-align: right;
	margin-right: 20px;
}

.menu {
	display: flex;
	gap: 40px;
	justify-content: flex-end;
	align-items: center;
}

.languageBox {
	padding: 0;
	margin-right: 0;
}

.link {
	color: #f1eceb;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 5px;
}

.link:hover {
	color: #b0b0b0;
	text-decoration: underline;
	opacity: 0.8;
}
@media (max-width: 768px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 10px 15px;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		overflow: visible;
		z-index: 1000;
	}

	.logo {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		text-align: center;
		margin-left: 0;
	}

	.logoImage {
		height: 40px;
	}

	.burgerMenu {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		cursor: pointer;
	}

	.burgerLine {
		width: 25px;
		height: 3px;
		background-color: #f1eceb;
		margin: 4px 0;
	}
	.rightSection {
		width: 20%;
		display: flex;
		justify-content: flex-end;
		padding: 0;
	}
	.languageBox {
		font-size: 0.9rem;
		color: #f1eceb;
		cursor: pointer;
		margin-left: 10px;
	}

	.nav {
		display: none;
		position: absolute;
		top: 50px;
		align-items: center;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 15px;
	}

	.navOpen {
		display: flex;
	}

	.navList {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0;
		margin: 0;
		gap: 15px;
		list-style: none;
	}

	.navLink {
		font-size: 0.8rem;
		color: #f1eceb;
		text-decoration: none;
		text-align: left;
		padding: 10px 0;
		width: 100%;
	}

	.navLink:hover {
		color: #e05d00;
	}
}
