.languageSelector {
	display: flex;
	gap: 4px;
	align-items: center;
}

.hexButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	width: 40px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.hexButton:hover {
	transform: scale(1.1);

}

.svgHex {
	padding:  5px 0;
	width: 40px;
	height: 34.6px;
}

.hex {
	fill: none;
	stroke: #888888;
	stroke-width: 5;
	transition: stroke 0.3s ease-in-out;
}

.activeHex {
	fill: none;
	stroke: #ffcc00;
	stroke-width: 5;
	box-shadow: 0 0 10px rgba(255, 204, 0, 0.4);
}
.activeHex + .text {
	fill: #ffffff; /* Теперь активный текст белый */
}


.text {
	fill: #888888;
	font-size: 2.2em;
	font-weight: 700;
	text-transform: uppercase;
	dominant-baseline: middle;
	transition: fill 0.3s ease-in-out;
}


.hexButton:active .text {
	fill: #ffffff;
}
@media (max-width: 768px) {
	.hexButton {
		width: 30px;
	}

	.svgHex {
		width: 30px;
		height: 26px;
	}

	.text {
		font-size: 1.2em;
	}

	.hex,
	.activeHex {
		stroke-width: 3.5;
	}

	.hexButton:hover {
		transform: scale(1.05);
	}
}
