.footer {
	background-color: #1e1e1e;
	color: white;
	padding: 10px 0 0 0;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.info {
	color: #f08030;
	font-size: 0.7rem;
	margin: 0 0 15px 0;
}

.socialLinks {
	display: flex;
	gap: 20px;
}

.socialLinks a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; 
	color: #ffffff;
	text-decoration: none;
	
	gap: 5px;
	padding: 5px 10px;
	transition:
		transform 0.2s ease,
		color 0.2s ease;
	border-radius: 4px;
}

.socialLinks a:hover {
	color: #e05d00;
	transform: scale(1.05);
	
}

.icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.tag {
	font-size: 0.9rem;
}
