.footer {
	/* background-color: #100d0e; */
	color: white;
	margin-top: auto;
	width: 100%;
	box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.info {
	color: #e05d00;
	font-size: 0.7rem;
	margin: 0 0 15px 0;
}

.socialLinks {
	display: flex;
	gap: 20px;
	margin-bottom: 5px;
}

.socialLinks a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	text-decoration: none;
	gap: 5px;
	padding: 0 10px;
	transition:
		transform 0.2s ease,
		color 0.2s ease;
	border-radius: 4px;
}

.socialLinks a:hover {
	color: #e05d00;
	transform: scale(1.05);
}

.icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.tag {
	font-size: 1.0rem;
}
