html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: visible;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: visible;
}

.mainContent {
	flex: 1;
	overflow: visible;
}

footer {
	margin-top: auto;
}
