.skillsSection {
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.title {
	font-size: 2rem;
	font-weight: 300;
	color: #f1eceb;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.textBox {
	width: 100%;
	max-width: 1200px;
	text-align: center;
	margin-bottom: 40px;
}

.description {
	max-width: 1200px;
	text-align: center;
	font-size: 1rem;
	
	font-weight: 400;
	line-height: 1.8;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #8d8d8d;
}

.skillsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	width: 100%;
	max-width: 1200px;
}

.skillCard {

	background: linear-gradient(to bottom, #100d0e, #54585b 50%, #100d0e);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	transition:
		transform 0.3s ease,
		background 0.3s ease;
}

.skillCard:hover {
	background: linear-gradient(to bottom, #1a1516, #6a6e73 50%, #1a1516);
	transform: translateY(-5px);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.skillHeader,
.skillFooter {
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	color: #e05d00;
	text-shadow: 0 0 5px rgba(224, 93, 0, 0.3);
}

.skillHeader:hover,
.skillFooter:hover {
	color: #ff7f32;
	text-shadow: 0 0 8px rgba(255, 127, 50, 0.5);
}

.skillBody {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin: 20px 0;
}

.skillItem {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #54585b;
	border-radius: 5px;
	padding: 10px 15px;
	color: #f1eceb;
	font-weight: 500;
	font-size: 0.9rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.skillItem::before {
	content: '•';
	color: #e05d00;
	margin-right: 10px;
	font-size: 1.2rem;
	transition: transform 0.3s ease;
}

.skillItem:hover::before {
	transform: scale(1.5);
	color: #ff7f32;
}

.codeTag {
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	font-weight: 400;
	color: #e05d00;
}

@media (max-width: 768px) {
	.skillsSection {
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
	}

	.title {
		font-size: 1.6rem;
	}

	.textBox {
		width: 90%;
		padding: 0 10px;
		margin-bottom: 20px;
	}

	.description {
		font-size: 0.9rem;
		line-height: 1.5;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0 10px;
	}

	.skillsGrid {
		width: 90%;
		grid-template-columns: 1fr;
		gap: 15px;
	}

	.skillCard {
		padding: 15px;
		border-radius: 8px; 
	}

	.skillHeader,
	.skillFooter {
		font-size: 0.9rem;
	}

	.skillBody {
		gap: 5px;
		margin: 15px 0;
	}

	.skillItem {
		padding: 8px 10px;
		font-size: 0.8rem;
	}

	.skillItem::before {
		font-size: 1rem;
		margin-right: 5px;
	}

	.codeTag {
		font-size: 0.9rem;
	}
	.softSkillBox {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
