.softSkillsSection {
	padding: 50px 0 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.title {
	font-size: 2rem;
	font-weight: 300;
	color: #f1eceb;
	margin-bottom: 20px;
}

.softSkillsCard {
	box-sizing: border-box;
	width: calc(100% - 40px);
	max-width: 1200px;
	flex-direction: column;
	background: linear-gradient(to bottom, #100d0e, #54585b 50%, #100d0e);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	transition:
		transform 0.3s ease,
		background 0.3s ease;
}
.softSkillsCard:hover {
	background: linear-gradient(to bottom, #1a1516, #6a6e73 50%, #1a1516);
	transform: translateY(-5px);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.skillHeader,
.skillFooter {
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	color: #e05d00;
	text-shadow: 0 0 5px rgba(224, 93, 0, 0.3);
}
.skillHeader:hover,
.skillFooter:hover {
	color: #ff7f32;
	text-shadow: 0 0 8px rgba(255, 127, 50, 0.5);
}
.skillBody {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	margin: 20px 0;
}

.skillItem {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #54585b;
	border-radius: 5px;
	padding: 10px 15px;
	color: #f1eceb;
	font-size: 0.9rem;
	font-weight: 500;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.skillItem::before {
	content: '•';
	color: #e05d00;
	margin-right: 10px;
	font-size: 1.2rem;
	transition: transform 0.3s ease;
}

.skillItem:hover::before {
	transform: scale(1.5);
	color: #ff7f32;
}

.tag {
	color: #f1eceb;
}
.codeTag {
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	font-weight: 400;
	color: #e05d00;
	text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
	.softSkillsSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 90%;
		box-sizing: border-box;
		margin: 0;
		padding: 30px 0 50px 0;
	}

	.title {
		font-size: 1.6rem;
		margin-bottom: 15px;
	}

	.softSkillsCard {
		width: 100%;
		padding: 15px;
		border-radius: 8px;
	}

	.skillHeader,
	.skillFooter {
		font-size: 0.9rem;
	}

	.skillBody {
		gap: 10px;
		margin: 15px 0;
	}

	.skillItem {
		padding: 8px 10px;
		font-size: 0.8rem;
	}

	.skillItem::before {
		font-size: 1rem;
		margin-right: 5px;
	}
}
